.header
  .header_inner
    .logo_keyword.clearfix
      .logo.l_left
        = link_to root_path do
          = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?'
      .kyeword
        %form.keyword_search.l_right
          %input{ type: 'search', name: 'keyword', placeholder: 'キーワードから探す'}
          %i.fa.fa-search

    .list_box
      .l_left
        %ul.search_nav.clearfix
          %li.category_seearch
            カテゴリーから探す
          %li.brand_search
            ブランドから探す
      .l_right
        - if user_signed_in?
          %ul.login_nav.clearfix
            %li.mypage
              = link_to '' do
                = image_tag 'https://mcdn.mercariapp.com/images/member_photo_noimage_thumb.png'
                マイページ
            %li.notification
              = link_to '' do
                = fa_icon 'bell'
                お知らせ
            %li.todo
              = link_to '' do
                = fa_icon 'check'
                やることリスト
        - else
          %ul.login_nav.clearfix
            %li.login
              = link_to 'ログイン', new_user_session_path
            %li.new_member
              = link_to '新規会員登録', users_new_path
