.pickup
  .pickup_title
    ピックアップカテゴリー
    .item_box.clearfix
      .item_box_title
        = link_to '' do
          レディース新着アイテム
      .item_box_contents.clearfix
        .item_box_content
          = link_to '' do
            .item_box_image
              = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m80168209289_1.jpg?1546128365', class: 'item_box_image'
            .item_box_body
              .item_box_name
                オーバーオール
              .item_box_num.clearfix
                .item_box_price
                  ¥2,300
                .item_box_likes
                  .likes_icon
                    %i.fa.fa-heart
                  .likes_num
                    2
                .item_box_tax
                  (税込)
      .item_box_contents.clearfix
        .item_box_content
          = link_to '' do
            .item_box_image
              = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m80168209289_1.jpg?1546128365', class: 'item_box_image'
            .item_box_body
              .item_box_name
                オーバーオール
              .item_box_num.clearfix
                .item_box_price
                  ¥2,300
                .item_box_likes
                  .likes_icon
                    %i.fa.fa-heart
                  .likes_num
                    2
                .item_box_tax
                  (税込)
      .item_box_contents.clearfix
        .item_box_content
          = link_to '' do
            .item_box_image
              = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m80168209289_1.jpg?1546128365', class: 'item_box_image'
            .item_box_body
              .item_box_name
                オーバーオール
              .item_box_num.clearfix
                .item_box_price
                  ¥2,300
                .item_box_likes
                  .likes_icon
                    %i.fa.fa-heart
                  .likes_num
                    2
                .item_box_tax
                  (税込)
      .item_all
        = link_to '' do
          すべての商品を見る
  .pickup_title
    ピックアップブランド
    .item_box.clearfix
      .item_box_title
        = link_to '' do
          シャネル 新着アイテム
      .item_box_contents.clearfix
        .item_box_content
          = link_to '' do
            .item_box_image
              = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m80067536928_1.jpg?', class: 'item_box_image'
            .item_box_body
              .item_box_name
                アイシャドウ
              .item_box_num.clearfix
                .item_box_price
                  ¥2,100
                .item_box_likes
                  .likes_icon
                    %i.fa.fa-heart
                  .likes_num
                    4
                .item_box_tax
                  (税込)
      .item_box_contents.clearfix
        .item_box_content
          = link_to '' do
            .item_box_image
              = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m80067536928_1.jpg?', class: 'item_box_image'
            .item_box_body
              .item_box_name
                アイシャドウ
              .item_box_num.clearfix
                .item_box_price
                  ¥2,100
                .item_box_likes
                  .likes_icon
                    %i.fa.fa-heart
                  .likes_num
                    4
                .item_box_tax
                  (税込)
      .item_box_contents.clearfix
        .item_box_content
          = link_to '' do
            .item_box_image
              = image_tag 'https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m80067536928_1.jpg?', class: 'item_box_image'
            .item_box_body
              .item_box_name
                アイシャドウ
              .item_box_num.clearfix
                .item_box_price
                  ¥2,100
                .item_box_likes
                  .likes_icon
                    %i.fa.fa-heart
                  .likes_num
                    4
                .item_box_tax
                  (税込)
      .item_all
        = link_to '' do
          すべての商品を見る
